# Java
*.class
*.log
hs_err_pid*
replay_pid*
*.hprof

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
out/

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
Desktop.ini
